* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'fredoka'
}


header {
  max-width: 70%;
  margin: 50px auto;
  text-align: center;
}

header h1 {
  color: #E53E75;
  font-weight: 800;
}

header p {
  color: black;
  line-height: 30px;
}

.container-card,
.container-form {
  max-width: 85%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.container-form label {
  background-color: aqua;
  margin: 20px;
  font-size: 1.2rem;
}

.container-form .form-control {
  width: 100%;
  height: 40px;
  margin: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


.card {
  width: calc(95% / 3);
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: space-between;
}

.card img {
  max-width: 100%;
  transition: transform 0.3s ease;
  border-radius: 10px;
  background-color: white;
}

.card img:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.card-content h4,
p {
  padding: 20px 120px 0 0;
  color: white;
}

.card-content h4 {
  color: #E53E75;
  font-size: 1.5rem;
}

.card-content p:last-child {
  color: #3b34fb;
}